[Desktop Entry]
Encoding=UTF-8
Name=Supcoin
Comment=Supcoin P2P Cryptocurrency
Comment[fr]=Supcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Supcoin, eşten eşe kriptografik sanal para birimi
Exec=supcoin-qt %u
Terminal=false
Type=Application
Icon=supcoin128
MimeType=x-scheme-handler/supcoin;
Categories=Office;Finance;
